@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'PT Sans';
}

.header {
    width: 100%;
    height: 80px;
    background-color: #5c9baa;
    color: #fff;
    border-bottom: #685D5D 1px solid;
}

.footer {
    width: 100%;
    height: 30px;
    background-color: #d9ddd5;
    border-top: #685D5D 1px solid;
    z-index: 1;
}

.workingArea {
    display: flex;
}

.navigator {
    float: left;
    width: 80px;
    height: calc(100vh - 81px - 31px);
    background-color: #2e3d44;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.kindOfLife {
    width: 100%;
    height: 20px;
    background-color: antiquewhite;
    margin-top: 5px;
    text-align: center;
}

.kindOfLife:hover,
.visually-hidden:checked + label {
    background-color: #D5B0C7;
    transition: 0.3s;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
}

.maincontent {
    height: calc(100vh - 81px - 31px);
    width: 100%;
    overflow: hidden;
}

.dataArea {
    display: none;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 81px - 31px);
}

.panelsForHumans {
    display: none;
    flex-direction: column;
}

.humansChoiceInput {
    display: none;
}

.humansChoice {
    align-self: flex-start;
    width: 100px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.humansChoice:hover,
.humansChoiceInput:checked + label {
    background-color: #D5B0C7;
    transition: 0.3s;
    cursor: pointer;
}

.humansChoiceInput:checked + label {
    border-left: 1.5px solid black;
    border-top: 1.5px solid black;
    border-right: 1.5px solid black;
}

.tabsForHumans {
    margin-left: 2px;
    margin-top: 2px;
}

.targetForHumans {
    max-height: 80vh;
    overflow: auto;
    width: 70vw;
}

.formToAdd {
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
}

form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    min-height: 30px;
    flex-wrap: wrap;
}

#btn-add {
    margin: 0 30px;
}

.user-card {
    width: 65vw;
    flex-direction: row;
    flex-wrap: wrap;
    clear: both;
    min-height: 50px;
    border: 1px solid #444440;
    margin: 0 2px 1px;
    overflow: hidden;
}

.template {
    display: block;
    float: left;
    margin: 2px 5px;
    width: 100px;
}

#textarea {
    height: 20px;
}

#btn-save,
#btn-remove {
    font-size: 10px;
}

#refresh {
    width: 70px;
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;
}

.displayOn {
    display: flex;
}