@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'PT Sans';
}

.header {
    width: 100%;
    height: 80px;
    background-color: #5c9baa;
    color: #fff;
}

.footer {
    width: 100%;
    height: 30px;
    background-color: #d9ddd5;
    border-top: #685D5D 1px solid;
}

.maincontent {
    height: calc(100vh - 80px - 31px);
    width: 100%;
}

.display-area {
    width: calc(100% - 60px);
    height: calc(100vh - 80px - 31px);
}

.navigator {
    float: left;
    width: 80px;
    height: 100%;
    background-color: #2e3d44;
}

input[type=radio] {
    display: none;
}

.choose-1 {
    display: block;
    text-align: center;
    width: 100% ;
    background-color: #898280;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color .3s;
}

.choose-1:hover,
.choose-1-1:checked + label {
    background-color: #d9ddd5;
}

.tabs_content {
    width: 80vw;
    min-height: 10vh;
    max-height: 40vh;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.choose-2 {
    display: block;
    float: left;
    height: 20px;
    width: 15%;
    text-align: center;
    cursor: pointer;
    transition: background-color .3s;
    margin: 0 2px;
    border-left: 1px solid #685D5D;
    border-top: 1px solid #685D5D;
    border-right: 1px solid #685D5D;
    margin-left: 0;
}

.choose-2[for='choice-2-3'] {
    margin-right: 200px;
}

.choose-2:last-child {
    margin-right: 200px;
}

.choose-2:hover,
.choose-2-1:checked + label {
    background-color: #d9ddd5;
    border-left: 3px inset #685D5D;
    border-top: 3px inset #685D5D;
    border-right: 3px inset #685D5D;
}

.tabs {
    background-color: #d9ddd5;
    display: none;
    float: left;
    width: 100%;
    min-height: 40%;
    border: 3px solid #685D5D;
    max-height: 80vh;
    overflow-y: auto;
}

#choice-2-1:checked ~ div:nth-of-type(1),
#choice-2-2:checked ~ div:nth-of-type(2),
#choice-2-3:checked ~ div:nth-of-type(3) {
    display: block;
}

.user-card {
    clear: both;
    height: 50px;
    border: 1px solid #444440;
    margin: 2px;
}

.template {
    display: block;
    float: left;
    margin: 2px 5px;
    width: 100px;
}

#textarea {
    height: 20px;
}

#refresh {
    display: block;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

form {
    margin-top: 5px;
    margin-bottom: 5px;
}

.displayOff {
    display: none;
}