@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'PT Sans';
}

.header {
    width: 100%;
    height: 80px;
    background-color: #5c9baa;
    color: #fff;
    border-bottom: #685D5D 1px solid;
}

.footer {
    width: 100%;
    height: 30px;
    background-color: #d9ddd5;
    border-top: #685D5D 1px solid;
    z-index: 1;
}

.workingArea {
    display: flex;
}

.navigator {
    float: left;
    width: 80px;
    height: calc(100vh - 81px - 31px);
    background-color: #2e3d44;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.kindOfLife {
    width: 100%;
    height: 20px;
    background-color: antiquewhite;
    margin-top: 5px;
    text-align: center;
}

.kindOfLife:hover,
.visually-hidden:checked + label {
    background-color: #685D5D;
    transition: 0.3s;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
}

.maincontent {
    height: calc(100vh - 81px - 31px);
    width: 100%;
    background-color: black;
}

.dataArea {
    background-color: gold;
    display: none;
    width: 100%;
    height: calc(100vh - 81px - 31px);
}

.Humans {
    background-color: red;
}

.Elfs {
    background-color: darkcyan;
}

.Orcs {
    background-color: blue;
}

.Trolls {
    background-color: turquoise;
}

.Gnomes {
    background-color: green;
}

.Ogres {
    background-color: blueviolet;
}

.Protos {
    background-color: #ff3ccd;
}

.user-card {
    clear: both;
    height: 50px;
    border: 1px solid #444440;
    margin: 2px;
}

.template {
    display: block;
    float: left;
    margin: 2px 5px;
    width: 100px;
}

#textarea {
    height: 20px;
}

#refresh {
    display: block;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

form {
    margin-top: 5px;
    margin-bottom: 5px;
}

.displayOn {
    display: block;
}