body {
    width: 98%;
    height: 100%;
    font-family: Verdana, serif;
    margin: 0;
    padding: 0;
}

.sliderContainer {
    height: 3vh;
    margin: 100px;
    position: relative;
}

.slider {
    /*background: #E0E0E0;*/
    /*background: -moz-linear-gradient(left top, #E0E0E0, #EEEEEE) repeat scroll 0 0 transparent;*/
    /*background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#EEEEEE));*/
    /*background: linear-gradient(left top, #E0E0E0, #EEEEEE);*/
    background-color: white;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
}

.thumb {
    height: 100%;
    position: relative;
    background: #5c9baa;
    cursor: pointer;
}

.filledArea {
    background-color: coral;
    height: 100%;
    margin: 0;
    position: absolute;
}

.stepBar {
    height: 0.6em;
    width: 100%;
    margin-left: 2px;
    display: flex;
    justify-content: space-between;
}

.numbersBar {
    position: relative;
    right: 3px;
    height: 10px;
    display: flex;
    justify-content: space-between;
}

.division {
    height: 10px;
    width: 1px;
    background-color: black;
}

.numbers {
    font-size: 0.6em;
}

